# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Local databases
*.db
*.sqlite
*.sqlite3

# Large/private data
data/private/